/*************
*   STYLE   *
*************/

html {
    background-color: #fff;
}

body {
    margin: 5vh 3vw;
    font-family: sans-serif;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 5em;
    font-weight: 500;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 3px;
  background: #fff;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
}

table {
    border: none;
    padding: 1em;
    vertical-align: top;
}

img {
	max-height: 266px
}

input {
  font-size: 3em;
  border: none;
  border-bottom: solid 3px #272427;
  background: #e6e6e6;
  width: 80%;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

input:focus {
  outline-width: 0;
  border-bottom: solid 3px #1f77b4;
}

.search-box {
  text-align: center;
}

.sidebar {
  font-size: 1em;
  padding: 1em 1em;
  background: #272427;
  text-align: center;
  color: #ffffff;
}

.main {
  background: #e6e6e6;
  color: #333;  
  padding: 2em 3em;
}

.icon {
  width: 40px;
}

.photo {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; 
  position: relative;
  left: -3px;
}

.sidebar-link {
  text-decoration: none;
  color: #fff;
}

.navbar li {
  display: inline-block;
  padding: 2.2px;
  width: 2vw;
}

.float {
  position:fixed;
  bottom: 40px;
  right: 40px;
  background: #272427;
  text-align: center;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
}
.float img {
  padding-top: 9px;
}

.random-recipe {
  background: #1e4d66;
  border-left: 3px solid #1e4d66;
}
.random-recipe h2 {
  color: #fff;
}


.Beef {
  border-left: 3px solid #d62728;
}
.Chicken {
  border-left: 3px solid #ffc116;
}
.Dessert {
  border-left: 3px solid #ff7f0e;
}
.Lamb {
  border-left: 3px solid #9467bd;
}
.Pork {
  border-left: 3px solid #e377c2;
}
.Seafood {
  border-left: 3px solid #17becf;
}
.Turkey {
  border-left: 3px solid #8c564b;
}
.Veggie {
  border-left: 3px solid #2ca02c;
}


/*************
*   LAYOUT   *
*************/
@supports (display: grid) {

  .sidebar-beef {
    grid-area: link_beef;
  }
  .sidebar-chicken {
    grid-area: link_chicken;
  }
  .sidebar-dessert {
    grid-area: link_dessert;
  }
  .sidebar-lamb {
    grid-area: link_lamb;
  }
  .sidebar-pork {
    grid-area: link_pork;
  }
  .sidebar-seafood {
    grid-area: link_seafood;
  }
  .sidebar-turkey {
    grid-area: link_turkey;
  }
  .sidebar-veggie {
    grid-area: link_veggie;
  }
  .sidebar-future {
    grid-area: link_future;
  }
  .sidebar-search {
    grid-area: link_search;
  }  
  
  @media (min-width: 360px){

    .float {
      width: 120px;
      height: 120px;
      border-radius: 100px;
    }
    .float img{
      width: 100px;      
    }      
    li {
      width: 40vw;
    }
    .photo {
      width: calc(3px + 40vw);
    }

    .sidebar {
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      grid-area: sidebar;
    } 
    .main {
      grid-area: main;      
    } 
    .site {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
        "sidebar"
        "main"
    }
    .links{      
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: 
        "link_beef link_chicken link_dessert link_lamb link_pork"
        "link_seafood link_turkey link_veggie link_future link_search"
    }
    .recipe-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
  }  

  @media (min-width: 1366px){  	

    .float {
      width: 60px;
      height: 60px;
      border-radius: 40px;
    }
    .float img{
      width: 40px;      
    }
    li {
      width: 24vw;
    }
    .photo {
      width: calc(3px + 24vw);
    }

    .sidebar {
      border-top-left-radius: 60px;
      border-top-right-radius: 0;
      grid-area: sidebar;
    }
    .main {
      border-top-right-radius: 60px;
      grid-area: main;      
    }    
    .site {
      display: grid;
      grid-template-columns: 1fr 10fr;
      grid-template-areas: 
        "sidebar main"
    }
    .links {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto auto auto auto auto auto auto 5fr ;
      grid-template-areas: 
        "link_search"      
        "link_beef"
        "link_chicken"
        "link_dessert"
        "link_lamb"
        "link_pork"
        "link_seafood"
        "link_turkey"
        "link_veggie"
        "link_future"
    }
    .recipe-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
    }
  }
}
