<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	  	<title>{{name}}</title>
	  	<link rel="stylesheet" type="text/css" href="../css/recipe.min.css">
	</head>
	<body class="site">

		<header class="sidebar">
			<!-- Logo always returns main page -->
			<div class="sidebar-logo" align="center">
				<a href="../index.html">
					<img class="sidebar-logo" src="../img/sidebar-logo.svg"></img>
				</a>
				<hr>
			</div>

			<!--- Recipe category, time and serving info -->
			<div class="info"> 
				<div class="sidebar-category" align="center">
					<img class="icon" src="../img/{{category}}.svg"  align="middle"></img>
					<p>{{category}}</p>
				</div>
				<div class="sidebar-time" align="center">
					<img class="icon" src="../img/Time.svg" align="middle"></img>
					<p>{{totalTime}}</p>
				</div>
				<div class="sidebar-servings" align="center"></img>
					<img class="icon" src="../img/Servings.svg"  align="middle"></img>
					<p>{{yield}} servings</p>
				</div>
			</div>
		</header>

		<main class="main">

			<h1 class="recipe-title">{{name}}</h1>		
			<img class="recipe-image" src="{{image}}" onerror="this.onerror=null;this.src='../img/{{category}}.svg';"></img>
			<div class="recipe-description">
				<p>{{description}}</p>
				<br>
			</div>

			<section class="recipe-ingredients">
				<pre class="ingredients">	
					<h2>Ingredients</h2>
					<p>
						<ul>
							{% for ingred in ingredients -%}
							<li>{{ingred}}</li>
							{% endfor -%}
						</ul>
					</p>
				</pre>
			</section>

			<section class="recipe-instructions">
				<pre class="instructions">
					<h2>Instructions</h2>
					<p>
						<ol>
							{% for instruct in instructions -%}
							<li>{{ instruct }}</li>
							{% endfor -%}
						</ol>
					</p>
				</pre>
			</section>

			<section class="recipe-source">
				<h2>Source</h2><a href={{url}}>{{source}}</a>
			</section>

		</main>
	</body>
</html>